/* 
Note:  Std. PPI is 72. 
8.5" * 72 = 612px width
11" *  72 = 792px height
*/

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --page-width: 800px;
  --page-height: calc(var(--page-width) * 11/8.5 + 23px);
  --text-color-default: rgb(48, 48, 48);
  --money-green: rgb(79, 129, 45);
}

html, body {
  margin: 0;
  padding: 0;
  width: var(--page-width);
}

.summary-page, .transactions {
  height: var(--page-height);
  box-sizing: border-box;
}

.summary-page header {
  padding: 10px 20px;

  background-color: rgb(30, 144, 255);
  color: white;
}

.summary-page header h1 {
  margin: 0;
  font-size: 4rem;
}

.summary-page header h2 {
  margin: 0 0 1rem 0;
  font-weight: normal;
  font-size: 2.5rem;
}

.summary-page .summary h1.hdr {
  margin: 0;
  padding: 1rem;
  font-size: 3rem;
  color: var(--text-color-default);
  background-color: rgb(143, 200, 255);
}

.summary-page .summary .summary-overall {
  padding: 0.8rem 0;
}

.summary-page .summary .summary-overall table {
  text-align: center;
  width: 100%;
}

.summary-page .summary .summary-overall table tr.values {
  font-size: 6.5rem;
  font-weight: 300;
  color: var(--money-green);
}

.summary-page .summary .summary-overall table tr.values td {
  padding: 0 2.5rem;
}

.summary-page .summary .summary-overall table tr.titles th {
  font-weight: 400;
  font-size: 2.8rem;
  color: var(--text-color-default);
  width: 50%;
}

.summary-page .summary .top-categories {
  margin-top: 1.2rem;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.summary-page .summary .top-categories h2 {
  margin: 0 0 1rem 0;
  width: 100%;
  font-size: 2.5rem;
  color: var(--text-color-default);
}

.summary-page .summary .top-categories .top-cat-item {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.summary-page .summary .top-categories .top-cat-item img {
  width: 8rem;
  height: 8rem;
  filter: invert(0.15);
}

.summary-page .summary .top-categories .top-cat-item .top-cat-info {
  color: var(--text-color-default);
  margin-left: 1.5rem;
}

.summary-page .summary .top-categories .top-cat-item .top-cat-info h3 {
  margin: 0;
  font-size: 3.5rem;
  font-weight: normal;
  color: var(--money-green);
}

.summary-page .summary .top-categories .top-cat-item .top-cat-info h4 {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
}





.transactions {
  padding: 1rem;
}

.transactions h1 {
  margin: 0 0 0.5rem 0;
  font-size: 4rem;
}

.transactions table {
  width: 100%;
  border-collapse: collapse;
  font-size: 2rem;
}

.transactions table th {
  padding: 0.3rem 0;
}

/* Icon */
.transactions table th:nth-child(1) {
  width: 15%;
}

/* Date */
.transactions table th:nth-child(2) {
  width: 20%;
  text-align: left;
}

/* Vendor */
.transactions table th:nth-child(3) {
  text-align: left;
}

/* Amount */
.transactions table th:nth-child(4) {
  text-align: right;
}

.transactions table td {
  padding: 0.4rem 0;
}

.transactions table tbody img {
  width: 4rem;
  height: 4rem;
}

.transactions table tbody tr {
  border-top: 1px solid var(--text-color-default);
}

.transactions table tbody td:nth-child(1) {
  text-align: center;
}

.transactions table tbody td:nth-child(4) {
  text-align: right;
}